@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

/* Estilos correspondientes al header */
header {
  padding: 0 15%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 25px 15% 25px 15%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 5000; }

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar-brand img {
  width: 100%;
  height: 100%; }

@media (max-width: 898px) {
  .header__logo {
    gap: 8px; }
  header {
    padding: 20px 15% 15px 15%; } }

.navbar__container {
  gap: 16px; }

.navigation__list {
  gap: 12px; }

.navigation__item:link,
.navigation__item:visited {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #404f60;
  padding: 0.4rem;
  border-width: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out; }

.navigation__item:hover,
.navigation__item:active {
  border-color: #d52735;
  color: #d52735; }

/* Estilos del footer */
footer {
  padding: 0 15%;
  bottom: 0;
  background-color: #2d2d2d;
  color: #ffffff;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer p {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 10px; }
  footer ul {
    display: flex;
    list-style: none;
    padding-left: 0; }
    footer ul li a {
      list-style: none;
      margin: 0 10px; }
      footer ul li a img {
        transition: transform 0.3s ease-out;
        width: 32px;
        height: 32px; }
      footer ul li a img:hover,
      footer ul li a img:active {
        transition: transform 0.3s ease-out;
        transform: scale(1.15); }

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding: 0 5%; } }

/* Estilos correspondientes al hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  min-height: 50rem;
  background-image: url(../img/hero_01.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 80%;
  background-size: contain;
  animation-name: animatedBackground;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  background-color: #d52735;
  color: #ffffff;
  padding: 0 15%;
  max-height: 760px; }

.hero__h1 {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

@media (max-width: 992px) {
  .hero {
    justify-content: flex-start; }
  .hero__h1 {
    padding-top: 10rem; } }

@media (max-width: 768px) {
  .hero__h1 {
    padding-top: 4rem; } }

.hero__button:link,
.hero__button:visited {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  margin: 40px 0px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  padding: 8px 16px;
  background-color: #2273d4;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  transition: all 0.2s;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

.hero__button:hover,
.hero__button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  50% {
    transform: translateX(3rem); }
  100% {
    transform: translate(0); } }

@keyframes animatedBackground {
  0% {
    background-position-x: 100%; }
  50% {
    background-position-x: 65%; }
  100% {
    background-position-x: 80%; } }

/* Estilos correspondientes a sección features */
.features {
  padding: 60px 15%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.features__title {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #404f60; }

.features__table {
  margin: 40px auto; }

.icon--mode {
  background-image: url("../img/icon_features_01.svg");
  background-repeat: no-repeat;
  height: 70px; }

.icon--teachers {
  background-image: url("../img/icon_features_02.svg");
  background-repeat: no-repeat;
  height: 70px; }

.icon--payment {
  background-image: url("../img/icon_features_03.svg");
  background-repeat: no-repeat;
  height: 70px; }

.table__text, .table__text--title {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #404f60;
  vertical-align: baseline;
  margin: 10px 0; }

.table__text--title {
  font-size: 2.4rem;
  font-weight: 700; }

.features__button:link,
.features__button:visited {
  text-decoration: none;
  width: fit-content;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #2273d4; }

.features__button:hover,
.features__button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* Estilos correspondientes a sección testimonials */
.testimonials {
  padding: 60px 15% 100px 15%;
  background: linear-gradient(to bottom, #f7f7f7 50%, #d3d3d3); }

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px; }

.testimonials__title {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #404f60; }

.card__item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #404f60; }

.blockquote {
  min-height: 100px; }

.item__rate {
  margin-bottom: 2rem;
  color: #ffa500; }

.item__title {
  font-size: 1.8rem;
  padding: 16px 0; }

/* Estilos para la página contacto */
.contactUs {
  padding: 30px 15%;
  min-height: calc(100vh - 100px - 80px);
  background: linear-gradient(to bottom, #2273d4 50%, #0c468e); }

@media (max-width: 1200px) {
  .contactUs img {
    display: none; } }

.contactUs__container {
  display: flex;
  justify-content: center; }

.contactUs__title {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  margin: 30px; }

.contactUs__form {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #404f60;
  border: none;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 3.2rem;
  place-self: center;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1); }

.form__label {
  font-size: 1.6rem;
  font-weight: bold; }

.form__input {
  margin-top: 8px;
  width: 300px;
  border-radius: 5px;
  border: solid 1.5px #8295ab;
  font-family: "Lato", sans-serif;
  color: #404f60;
  font-size: 1.6rem;
  padding: 8px; }

.form__button, .form__button--alternative {
  text-decoration: none;
  padding: 8px 16px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #2273d4;
  width: 100%; }

.form__button:hover, .form__button--alternative:hover,
.form__button:active,
.form__button--alternative:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.form__button--alternative {
  color: #2273d4;
  border: solid 2px;
  background-color: #ffffff; }

/* Estilos del sección principal cursos */
.courses {
  min-height: calc(100vh - 100px - 80px);
  background-color: #f7f7f7; }

.courses__title {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #404f60;
  padding: 40px 0px; }

.courses__item {
  display: grid;
  overflow: hidden;
  height: 400px;
  grid-template-rows: 40% 40% 20%;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #404f60;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) {
  .courses__item {
    width: 320px;
    margin: 0 auto; } }

.item__header {
  position: relative;
  overflow: hidden; }

.header__tag, .header__tag--new, .header__tag--free {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 16px;
  border-radius: 16px;
  z-index: 1000;
  color: #ffffff; }

.header__tag--new {
  background-color: #d52735; }

.header__tag--free {
  background-color: #008000; }

.header__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-out; }

.header__image:hover,
.header__image:active {
  transform: scale(1.05); }

.item__content {
  padding: 12px 24px;
  justify-items: start; }

.item__text {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #404f60; }

.item__text--title {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #404f60;
  margin-bottom: 8px; }

.item__button:link,
.item__button:visited {
  text-decoration: none;
  place-self: center;
  align-content: center;
  padding: 8px 16px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #2273d4; }

.item__button:hover,
.item__button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.modal__button {
  background-color: #2273d4 !important;
  border: none; }

/* Estilos para la página nosotros */
.aboutUs {
  min-height: calc(100vh - 100px);
  padding: 150px 20%;
  background-color: #404f60;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.aboutUs__title {
  font-family: "Lato", sans-serif;
  font-size: 4.2rem;
  text-align: center;
  color: #ffffff;
  padding: 25px; }

.aboutUs__title--subtitle {
  font-size: 2.2rem;
  font-weight: 400; }

.support {
  padding: 60px 15%; }

.support__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  color: #404f60; }

.support__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px; }

.sponsor--royal {
  background-image: url("../img/logo_royal_canin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px; }

.sponsor--pedigree {
  background-image: url("../img/logo_pedigree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px; }

.sponsor--kong {
  background-image: url("../img/logo_kong.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px; }

.sponsor--power {
  background-image: url("../img/logo_pipeta_power.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px; }

/* Estilos para la página servicios */
.services {
  padding: 30px 20%;
  min-height: calc(100vh - 100px);
  background-color: #d52735; }

.services__title {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  margin: 30px; }

.services__text {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  margin: 40px; }

.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 30px; }

.cards__item {
  background-color: #ffffff;
  width: 220px;
  max-height: 350px;
  border-radius: 10px;
  padding: 24px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #404f60; }

.cards__title {
  font-size: 1.8rem;
  padding: 16px 0; }
