* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

/* Estilos correspondientes al header */

header {
	padding: 0 15%;
	max-height: 100px;
	position: sticky;
	top: 0;
	background-color: #ffffff;
	padding: 20px 15% 30px 15%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.header__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__list {
	display: flex;
	list-style: none;
	gap: 20px;
}

.navigation__item:link,
.navigation__item:visited {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	text-decoration: none;
	color: #404f60;
	padding: 0.4rem;
	border-width: 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	transition: all 0.3s ease-in-out;
}

.navigation__item:hover,
.navigation__item:active {
	border-color: #d52735;
	color: #d52735;
}

/* Estilos correspondientes al hero */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Al height del hero se le restaron 100px correspondientes al height del header */
	height: 85vh;
	background-image: url(img/hero_01.png);
	background-repeat: no-repeat;
	background-position: center;
	animation-name: animatedBackground;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	background-color: #d52735;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 4.5rem;
	color: white;
	padding: 0 15%;
}

.hero__h2 {
	animation-name: moveInLeft;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

.hero__button:link,
.hero__button:visited {
	display: inline-block;
	width: fit-content;
	margin: 40px 0px;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	padding: 8px 16px;
	background-color: #2680eb;
	border: none;
	border-radius: 20px;
	color: white;
	transition: all 0.2s;
	animation-name: moveInLeft;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}

.hero__button:hover,
.hero__button:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@keyframes moveInLeft {
	0% {
		transform: translateX(-10rem);
	}

	50% {
		transform: translateX(3rem);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes animatedBackground {
	0% {
		background-position-x: 100%;
	}
	50% {
		background-position-x: 35%;
	}
	100% {
		background-position-x: 50%;
	}
}

/* Estilos correspondientes a sección features */

.features {
	padding: 60px 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
}

.features__table {
	margin: 40px auto;
}

.table__icon {
	padding: 5px 20px;
}

.table__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: #404f60;
	padding: 5px 20px;
	vertical-align: baseline;
	width: 300px;
}

.table__text--title {
	font-size: 2.4rem;
	font-weight: 700;
}

.features__button:link,
.features__button:visited {
	width: fit-content;
	padding: 8px 16px;
	display: flex;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: white;
	border: none;
	border-radius: 20px;
	background-color: #2680eb;
}

.features__button:hover,
.features__button:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Estilos correspondientes a sección testimonials */

.testimonials {
	padding: 60px 15%;
	background: linear-gradient(to bottom, #f7f7f7 50%, #d3d3d3);
}

.testimonials__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
}

.testimonials__cards {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.card__item {
	background-color: white;
	border-radius: 10px;
	padding: 24px;
	max-width: 250px;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	color: #404f60;
}

.item__title {
	font-size: 1.8rem;
	padding: 16px 0;
}

/* Estilos del footer */

footer {
	padding: 0 15%;
	bottom: 0;
	background-color: #2d2d2d;
	color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	margin: 0;
	padding: 10px;
}

.footer__socialMedia {
	display: flex;
	list-style: none;
}

.socialMedia__item:link,
.socialMedia__item:visited {
	list-style: none;
	margin: 0 10px;
}

.socialMedia__item img {
	transition: transform 0.3s ease-out;
}

.socialMedia__item img:hover,
.socialMedia__item img:active {
	transition: transform 0.3s ease-out;
	transform: scale(1.15);
}

/* Estilos del sección principal cursos */

.courses {
	min-height: calc(100vh - 100px - 80px);
	padding: 50px 15%;
	background-color: #f7f7f7;
}

.courses__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
}

.courses__container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	gap: 32px;
	margin-top: 40px;
}

.courses__item {
	display: grid;
	overflow: hidden;
	width: 250px;
	min-height: 400px;
	grid-template-rows: 40% 40% 20%;
	background-color: white;
	border-radius: 10px;
	font-size: 1.4rem;
	color: #404f60;
	box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.item__header {
	position: relative;
}

.header__tag {
	position: absolute;
	top: 16px;
	left: 16px;
	padding: 4px 16px;
	border-radius: 16px;
	z-index: 1000;
}

.header__tag--new {
	background-color: #d52735;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
}

.header__tag--free {
	background-color: green;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
}

.header__image {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: transform 0.3s ease-out;
}

.header__image:hover,
.header__image:active {
	transform: scale(1.05);
}

.item__content {
	padding: 8px 24px;
	display: grid;
	justify-items: start;
}

.item__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: #404f60;
}

.item__text--title {
	font-size: 2rem;
	margin: 8px 0px;
}

.item__button:link,
.item__button:visited {
	place-self: end;
	align-content: center;
	padding: 8px 16px;
	margin: 16px auto;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: white;
	border: none;
	border-radius: 20px;
	background-color: #2680eb;
}

.item__button:hover,
.item__button:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Estilos para el detalle del curso */

.detail {
	padding: 50px 15%;
	min-height: calc(100vh - 100px - 80px);
}

.detail__back {
	text-decoration: none;
	color: #2680eb;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}

.detail__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
	margin: 30px;
}

.detail__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	color: #404f60;
}

/* Estilos para la página nosotros */

.aboutUs {
	padding: 30px 15%;
	min-height: calc(100vh - 100px - 80px);
}

.aboutUs__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
	margin: 30px;
}

.aboutUs__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	color: #404f60;
}

/* Estilos para la página servicios */

.services {
	padding: 30px 15%;
	min-height: calc(100vh - 100px - 80px);
}

.services__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: #404f60;
	margin: 30px;
}

.services__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	color: #404f60;
}

/* Estilos para la página nosotros */

.contactUs {
	padding: 30px 15%;
	min-height: calc(100vh - 100px - 80px);
	background: linear-gradient(to bottom, #2680eb 50%, #0c468e);
}

.contactUs__container {
	display: flex;
	justify-content: center;
}

.contactUs__title {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	color: white;
	margin: 30px;
}

.contactUs__form {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: #404f60;
	border: none;
	background-color: white;
	border-radius: 20px;
	padding: 3.2rem;
	place-self: center;
	box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.form__label {
	font-weight: bold;
}

.form__input {
	margin-top: 8px;
	width: 300px;
	border-radius: 5px;
	border: solid 1.5px #8295ab;
	font-family: 'Lato', sans-serif;
	color: #404f60;
	font-size: 1.6rem;
	padding: 8px;
}

.form__button {
	padding: 8px 16px;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: white;
	border: none;
	border-radius: 20px;
	background-color: #2680eb;
	width: 100%;
}

.form__button:hover,
.form__button:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.form__button--alternative {
	color: #2680eb;
	border: solid 2px;
	background-color: white;
}
